/*
GENERAL
*/
:root {
    --menu-speed: 0.75s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.4;
}

.container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
}

.showcase-layout {
    background-color: var(--showcase-color);
    color: #fff;
    height: 100vh;
    position: relative;
}

.showcase-layout:before {
    content:'';
    background: url('https://upload.wikimedia.org/wikipedia/commons/2/27/Saltlakecity_winter2009.jpg') no-repeat center center/cover;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.showcase-layout .showcase-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.showcase-inner h1 {
    font-size: 4rem;
}

.showcase-inner p {
    font-size: 1.3rem;
}

.btn {
    display: inline-block;
    border: none;
    background-color: var(--btn-color);
    color: #fff;
    padding: 0.75rem 1.5rem;
    margin-top: 3rem;
    text-decoration: none;
    transition: opacity 1s ease-in;
}

.btn:hover {
    opacity: 0.7;
}

/*
Logo design
*/
.logo {
    max-width: 300px;
    padding: 2rem;
}

/*
MOBILE - less than 950 px
*/
@media (max-width: 950px){
    .logo {
        max-width: 225px;
    }
    .showcase-inner h1 {
        font-size: 3.25rem;
    }
    .showcase-inner p {
        font-size: 1.35rem;
    }
}

/*
MOBILE - less than 700 px
*/
@media (max-width: 700px){
    .logo {
        max-width: 150px;
    }
    .showcase-inner h1 {
        font-size: 2.75rem;
    }
    .showcase-inner p {
        font-size: 1.2rem;
    }
}

/*
Testing

#parent-ref {
    position: relative;
    max-width: 100%;
    background: #ccc;
    overflow: hidden;

}
*/

.anchor-edit:before {
    min-height: 0px;
    display: block;
    content: '';
}

.anchor-edit {
    position: relative;
    top: -65px;
    z-index: -20;
}