/*
Nav Menu
*/
.nav-wrap {
    /* Positioning */
    position: fixed;
    z-index: 5;
    max-width: 100%;
    min-width: 100%;
    background-color: var(--nav-color);
}

.nav-wrap .nav-menu {
    max-width: 800px;
    margin: 10px auto 0 auto;
    background-color: var(--nav-color);
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav-wrap .nav-menu .nav-btn {
    width: 150px;
    height: 30px;
    line-height: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.nav-wrap .nav-menu .nav-btn .logo {
    width: 20px;
    padding: 0px;
}

.nav-wrap .nav-menu .nav-btn > div {
    max-width: 120px;
    height: 30px;
    margin: 0px auto 0px auto;
    display: flex;
}

.nav-wrap .nav-menu .nav-btn > div a {
    color: #fff;
    text-decoration: none;
    margin: auto;
}

/*
DESKTOP - more than 950 px
*/
@media (min-width: 950px){
    .menu-wrap {
        display: none;
    }
}

/*
MOBILE - less than 950 px
*/
@media (max-width: 950px){
    .nav-wrap .nav-menu {
        display: none;
    }
}

/*
MOBILE - less than 700 px
*/
@media (max-width: 700px){
    .nav-wrap .nav-menu {
        display: none;
    }
}